name: Sentinel SDK CI Tests

on: [workflow_dispatch, push]

env:
  # Increment this to clear GHA cache
  GHA_CACHE_VERSION: v2
  # The sentinel version to test against
  SENTINEL_VERSION: 0.40.0

jobs:
  get-go-version:
    uses: hashicorp/tf-compliance-actions/.github/workflows/get-go-version.yml@main

  test:
    needs:
      - get-go-version
    runs-on: [ ubuntu-latest ]
    name: Tests

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ env.GHA_CACHE_VERSION }}-${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ env.GHA_CACHE_VERSION }}-${{ runner.os }}-go-

      - name: Setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}

      - name: Install sentinel
        uses: hashicorp/setup-sentinel@7ca61a3f25049e0e05048da83e926679468bcad0 # main
        with:
          version: ${{ env.SENTINEL_VERSION }}

      - name: Test
        run: |
          make modules
          make tools
          make test-ci
